<div class="row">
    <div class="col-md-6">
        <form #myform="ngForm" (ngSubmit)="onSubmit(myform)" id="myform">
            <div class="mb-4">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Add Title" minlength="5"
                    [(ngModel)]="todo.title">
                <!-- <div *ngIf="myform.controls.title?.invalid && myform.controls.title?.touched">
                    title is required.
                </div> -->
            </div>
            <div class="mb-4">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="2"
                    placeholder="Add Description" [(ngModel)]="todo.description"></textarea>
            </div>
            <div class="mb-4">
                <button type="submit" class="btn btn-dark px-5">Add</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div [(ngModel)]="todo.title">{{todo.title}}</div>
        <div [(ngModel)]="todo.description">{{todo.description}}</div>
    </div>

</div>