<div class="d-flex" >
    <div class="card mx-1 shadow" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{this.todo.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{this.todo.description}}</h6>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a> -->
        </div>
    </div>
</div>
<!-- <div class="text-center" *ngIf="!this.todo.name" style="width: 18rem;">
    No Data
</div> -->